.bike-img-estatico {
  margin-left: 100px;
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 10%;
  transform: translate(-50%, -40%);
  width: 90vw;
  height: 90vh;
  overflow: hidden;
}

.individual h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  z-index: 2;
}

.individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.individual p {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;

}

.description-service p {
  max-width: 60%;
}

.individual-container {
  display: grid;
  justify-content: center;
  flex-direction: row;
  align-items: right;
  justify-content: center;
  text-align: center;
}

.individual-container .individual-box {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 1fr;
  /* icono junto */

}

.individual-container .individual-box:hover {
  border-color: var(--main-color);
  transform: translate(5px, 12px);
}

.individual-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-bottom: 1rem;
  margin-right: 4rem;
}

.individual-box p {
  font-size: 1.5rem;
  margin-top: 2.5%;
}

.opcionesindividual {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.opcionesindividual .atencionMedica-box {
  margin: 100px 70px 100px 100px;
}

.opcionesindividual .atencionMedica-box p {
  font-size: 2rem;
}


@media (max-width: 1024px) {
  .bike-img-estatico {
    width: 60vw;
    height: 60vh;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .bike-img-estatico {
    display: none;
  }
  .opcionesindividual {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: left;
  }
  .opcionesindividual .atencionMedica-box {
    margin: 20px 20px 20px 20px;
  }
}

@media (max-width: 320px) {
  .individual h2 {
    font-size: 2.5rem;
  }
}


.bike-img-estatico {
  width: 60vw;
  height: 60vh;
}
