.cambio h2 {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
  }

  .cambio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 30px;
  }

  .cambio p {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 3%;
    max-width: 60%;
    display: flex;
    justify-content: center;
  }

  .cambio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 900px;

  }

  .cambio-container .cambio-box {
    flex: 1 2 25rem;
    padding: 3rem 2rem 2rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: .1s ease;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
  }

  .cambio-container .cambio-box:hover {
    border-color: var(--main-color);
    transform: translate(5px, 12px);
  }

  .cambio-box i {
    font-size: 3.5rem;
    color: var(--main-color);
    margin-bottom: 1rem; /* Agregado para separar el icono del texto */

  }

  .cambio-box p {
    font-size: 1.3rem;
    margin-top: 2%;
  }
