.ind-img-estatico {
  margin-left: 100px;
  position: absolute;
  width: fit-content;
  z-index: 1;
  top: 0;
  right: 0;
}

.masivo h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}
.masivo a {
  z-index: 2;
}

.masivo h3 {

  margin-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
  padding-top: 200px; /* ajusta el valor de acuerdo al tamaño de tu navbar */
  margin-top: -100px;
}

.masivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.masivo p {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;
  text-align: center;
  align-items: center;
}

.masivo .description-masivo p {
  max-width: 60%;
  justify-content: center;

}

.masivo-container-nosotros {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.masivo-container-nosotros .masivo-box {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-direction: row;
  text-align: left;
  margin-top: 20px;
}

.masivo-container-nosotros {
  max-width: 70%;
}

.masivo-container-nosotros p {
  display: grid;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 30px;
}

.masivo-container .masivo-box {
  display: flex;
  flex-direction: row;
}

.masivo-negocios .masivo-box:hover,
.masivo-container-motivos .masivo-box:hover,
.masivo-container-beneficios .masivo-box:hover {
  color: var(--secondary-color);
}



.masivo-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-left: 8%;
  margin-right: 10px;
}


.masivo-container-motivos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 700px;

}

