.contact {
    background: var(--second-bg-color);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact h2 {
    padding-top: 100px;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 70rem;
}

.contact p {
    font-size: 1.9rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 3%;
}

.contact form {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 7rem;
}

.contact form .partes {
    max-width: 35rem;
}


.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: .7rem 0;
}

.contact form textarea {
    resize: none;
}

.btn_contact {
    cursor: pointer;
    display: inline-block;
    padding: 2rem 3rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 300;
    transition: .5s ease;
}

.btn_contact:hover {
    box-shadow: none;
}

.contact .gps_img {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.car_mov_img {
    max-width: 30rem;
    display: flex;
    justify-self: center;
}

.mapouter {
    padding: 2rem;
    background: white;
    border-radius: 2rem;
}


.iframe1 {
    border-radius: 2rem;
    width: 900px;
    height: 200px;
}


@media (max-width: 1024px) {
    .contact form textarea {
        width: 30rem;
    }
    .iframe1 {
        border-radius: 2rem;
        width: 768px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .contact form {
        flex-direction: column;
    }
    .contact form textarea {
        width: 20rem;
    }
    .iframe1 {
        border-radius: 2rem;
        width: 480px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .iframe1 {
        border-radius: 2rem;
        width: 360px;
        height: 200px;
    }
}
