
.conocenos h2 {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
}

.cultura-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
}

.conocenos p {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 3%;
}

.tweet-carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .tweet-carousel:after {
    content: "";
    width: 1px;
    height: 100%;
    margin-right: -1px;
  }

  .tweet-card {
    width: 320px;
    height: 200px;
    background-color: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-right: 1rem;
  }

  .tweet-header {
    display: flex;
    align-items: center;
  }

  .tweet-header img {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .tweet-username {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }

  .tweet-handle {
    font-size: 0.8rem;
    margin: 0;
    color: gray;
  }

  .tweet-body {
    flex-grow: 1;
  }

  .tweet-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    color: gray;
  }

  .tweet-footer i {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .tweet-card:last-child {
    margin-right: 0;
  }

  @keyframes tweet-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 1px));
    }
  }

  .tweet-carousel:hover .tweet-card {
    animation-play-state: paused;
  }

  .tweet-carousel .tweet-card {
    animation: tweet-animation 10s linear infinite;
  }


.cultura-container .cultura-box {
    flex: 1 1 20rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    align-items: stretch;

}

.cultura-container .cultura-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.cultura-box i {
    font-size: 3.5rem;
    color: var(--main-color);
}

.cultura-box h3 {
    font-size: 2rem;
}

.cultura-box p {
    font-size: 1rem;
    margin-top: 2%;
}

.imagenes_oscuras {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 50px;
}

.imagenes_oscuras img {
    height: 70px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 7px 7px 0px rgb(145, 145, 145);
    cursor: pointer;
    margin: 10px;
    filter: grayscale(1);
    transition: 400ms;
}

.imagenes_oscuras img:hover {
    filter: none;
    transform: scale(1.03);
}
