@font-face {
    font-family: made_mirage;
    src:url(../public/MADE_Mirage_Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    font-family: made_mirage;
}

:root {
    --bg-color: #FFFFFF;
    --second-bg-color: #F2F2F2;
    --text-color: #4A4A4A;
    --main-color: #006B6B;
    --secondary-color: #001C73;
    --button-color: #006B6B;
    --animation-duration_all: 20s;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.whatsapp_btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: green;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }

  .whatsapp_btn img {
    width: 70%;
    height: 70%;
  }



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    width: 220px;
}

.navbar a {
    position: relative;
    font-size:1.7rem;
    color:var(--text-color);
    margin-right: 4rem;
    transition: .3s;
  }

  .navbar a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
  }

  .navbar a:hover::before,
  .navbar a.active::before {
    width: 100%;
    color: var(--secondary-color);
  }

  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
