.fam-img-estatico {
  margin-left: 100px;
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 20%;
  transform: translate(-60%, -40%);
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.accidentesPersonales h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.accidentesPersonales h3 {
  margin-top: 5%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
}

h4 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 20px 10px 10px 0;
}

.accidentesPersonales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
}

.accidentesPersonales-container-nosotros {
  max-width: 70%;
  justify-content: left;

}

.accidentesPersonales-container-nosotros .accidentesPersonales-box {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  text-align: left;
  margin-top: 20px;

}

.accidentesPersonales-container-nosotros .accidentesPersonales-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-right: 2rem;
}

.accidentesPersonales-box p {
  font-size: 1.5rem;
  margin-top: 0.8%;
  text-align: left;
}





@media (max-width: 1024px) {
  .fam-img-estatico {
    width: 80vw;
    height: 30vh;
    left: 5%;
    top: 5%;
    transform: translate(-80%, -0%);
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}
