.fam-img-estatico {
  z-index: -1;
  left: 20%;
  top: 95%;
  transform: translate(-60%, -60%);
  width: 70vw;
  height: 80vh;
  overflow: hidden;
}

.atencionMedica .heading_h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.atencionMedica .heading {
  padding: 10rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
}

.description-service {
  font-size: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
}
.atencionMedica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.atencionMedica-container .atencionMedica-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  z-index: 2;
}

.atencionMedica-container p {
  display: grid;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding: 2rem;
}

.atencionMedica-container .atencionMedica-box:hover {
  color: var(--secondary-color);
}

.atencionMedica-container-nosotros .atencionMedica-box:hover {
  color: var(--secondary-color);
}

.atencionMedica-box i {
  font-size: 3.5rem;
  color: var(--main-color);

}

.atencionMedica-container-nosotros {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: stretch;
  padding: 0rem 10rem 10rem 10rem;
}

.atencionMedica-container-nosotros .atencionMedica-box {
  padding-top: 5rem;
}

.atencionMedica-box p {
  font-size: 1.5rem;
  text-align: left;
}

@media (max-width: 2000px) {
  .fam-img-estatico  {
    width: 80vw;
    height: 30vh;
    left: 5%;
    top: 5%;
    transform: translate(-80%, -0%);
  }
}

@media (max-width: 1240px) {
  .fam-img-estatico  {
    display: none;
  }
}

@media (max-width: 768px) {
  .atencionMedica-container-nosotros {
    padding: 0rem 2rem 2rem 2rem;
  }
}

@media (max-width: 480px) {
  .fam-img-estatico  {
    display: none;
  }

}
