.inha-img-estatico {
  margin-left: 100px;
  position: absolute;
  width: fit-content;
  z-index: 1;
  top: 0;
  right: 0;
}

.pymes h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.pymes h3 {
  margin-top: 5%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
  padding-top: 100px; /* ajusta el valor de acuerdo al tamaño de tu navbar */
  margin-top: -100px;
}

h4 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 20px 10px 10px 0;
}

.pymes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pymes p {
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;

  max-width: 80%;
}

.pymes .description-pymes p {
  max-width: 60%;
  justify-content: center;

}

.pymes-container-nosotros {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.pymes-container-nosotros .pymes-box {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-direction: row;
  text-align: left;
  margin-top: 20px;
}

.pymes-container-nosotros {
  max-width: 70%;
}

.pymes-container-nosotros p {
  display: grid;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 30px;
}

.pymes-container .pymes-box {
  display: flex;
  flex-direction: row;
}

.pymes-negocios .pymes-box:hover,
.pymes-container-motivos .pymes-box:hover,
.pymes-container-beneficios .pymes-box:hover {
  color: var(--secondary-color);
}



.pymes-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-left: 8%;
  margin-right: 10px;
}


.pymes-container-motivos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 700px;

}

.pymes-container-motivos .pymes-box {
  max-width: 100px;
  margin: 40px auto 40px auto;
}


.pymes-container-beneficios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.pymes-container-beneficios .pymes-box {
  max-width: 100px;
  margin: 40px auto 40px auto;
}
.pymes-container-beneficios .pymes-box i {
  margin: 40px 0 40px 0;
}
