.ind-img-estatico {
  margin-left: 100px;
  position: absolute;
  width: fit-content;
  z-index: 1;
  top: 0;
  right: 0;
}

.fianzas h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.fianzas {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.fianzas p {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;
  text-align: center;
  align-items: center;
}

.description-fianzas .fianzas-box p{
  justify-content: left;

}

.fianzas .fianzas-box {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 3rem;
}

.fianzas-negocios .fianzas-box:hover,
.fianzas-container-motivos .fianzas-box:hover,
.fianzas-container-beneficios .fianzas-box:hover {
  color: var(--secondary-color);
}



.fianzas-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-left: 8%;
  margin-right: 10px;
}





@media (max-width: 1024px) {


}

@media (max-width: 768px) {

}

@media (max-width: 480px) {


}
