.car-img-estatico {
  margin-left: 100px;
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 20%;
  transform: translate(-60%, -40%);
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.vehiculos h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.vehiculos h3 {
  margin-top: 5%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
}

h4 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 200;
  margin: 20px 10px 10px 0;
}

.vehiculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vehiculos p {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;

  display: flex;
  text-align: center;
}

.vehiculos .description-service p {
  max-width: 70%;
  justify-content: center;

}

.vehiculos-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.vehiculos-container-nosotros p {
  display: grid;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 30px;
}

.vehiculos-container .vehiculos-box {
  display: flex;
  flex-direction: row;
}

.vehiculos-container .vehiculos-box:hover {
  color: var(--secondary-color);
}

.vehiculos-container-nosotros .vehiculos-box:hover {
  color: var(--secondary-color);
}

.vehiculos-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-left: 8%;
  margin-right: 10px;

}

.vehiculos-box span {
  font-weight: 300;
}

.vehiculos-box p {
  font-size: 1.5rem;
  margin-top: 0.8%;
  text-align: left;
}



@media (max-width: 1024px) {
  .car-img-estatico {
    width: 80vw;
    height: 30vh;
    left: 5%;
    top: 5%;
    transform: translate(-80%, -0%);
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
  .car-img-estatico {
    display: none;
  }

}

