/* Estilos base */
.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.navbar.active {
  right: 0;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--text-color);
  margin-right: 4rem;
  transition: 0.3s;
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.navbar a:hover::before,
.navbar a.active::before {
  width: 100%;
  color: var(--secondary-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  z-index: 9999;
  position: relative;
}

/* Media queries */
@media only screen and (min-width: 320px) {
  .navbar a {
    font-size: 4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  #menu-icon {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 480px) {
  .navbar a {
    font-size: 4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  #menu-icon {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar a {
    font-size: 4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  #menu-icon {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar a {
    font-size: 2rem;
    margin-right: 4rem;
  }

  #menu-icon {
    display: none;
  }
}
