.hogar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.house-img-estatico {
  margin-left: 10%;
  position: absolute;
  width: fit-content;
  z-index: 1;
  top: 0;
  left: 0;
}

.hogar h2 {
  margin-top: 10%;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

.hogar h3 {
  margin-top: 5%;
  margin-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 200;
}


.hogar p {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 3%;
}

.hogar .description-service p {
  max-width: 70%;
  justify-content: center;

}

.hogar-container-nosotros {
  padding: 8rem;
}

.hogar-container {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 10rem;

}
.hogar-container .hogar-box {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.hogar-container .hogar-box:hover {
  color: var(--secondary-color);
}

.hogar-container-nosotros .hogar-box:hover {
  color: var(--secondary-color);
}

.hogar-box i {
  font-size: 3.5rem;
  color: var(--main-color);
  margin-left: 8%;
  margin-right: 10px;

}


@media (max-width: 1024px) {
  .hogar-container {
    padding: 3rem;
  }

}

@media (max-width: 768px) {
  .house-img-estatico {
    width: 50vw;
    height: 50vh;
  }
}

@media (max-width: 480px) {


}

