.footer {
  background: black;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
}

.first_part {
  display: flex;
  flex-direction: row;
}

.social-box {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-direction: column;
}

.social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-direction: row;
}

.social-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  flex-direction: row;

}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 0 1.5rem;
  transition: .5s ease;
}

.social-icon:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-info1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  flex-basis: 10%;
  flex-grow: 1;

}

.footer-info2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  flex-basis: 40%;
  flex-grow: 1;
  font-size: 1.2rem;
}

.footer div {
  margin-bottom: 1.2rem;

}

.footer {
  max-width: 100%;
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .footer-info2 {
    font-size: 1.3rem;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer-info2 {
    font-size: 1.3rem;
  }

}
@media (max-width: 320px) {
  .footer-info2 {
    font-size: 1.105rem;
  }
}

