@font-face {
    font-family: made_mirage;
    src: url(./MADE_Mirage_Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    font-family: made_mirage;
}

:root {
    --bg-color: #FFFFFF;
    --second-bg-color: #F2F2F2;
    --text-color: #4A4A4A;
    --main-color: #006B6B;
    --secondary-color: #001C73;
    --button-color: #006B6B;
    --animation-duration_all: 20s;
    font-size: 62.5%;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.section {
    min-height: 80vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    width: 220px;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
}

body,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 320px) {
    .header {
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 1.8rem;
        width: 150px;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    .section {
        padding: 4rem 5% 2rem;
    }

    body,
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .header {
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 2rem;
        width: 180px;
    }

    h2 {
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    .section {
        padding: 5rem 5% 2rem;
    }

    body,
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 2rem;
        width: 180px;
    }

    h2 {
        font-size: 3.5rem;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    .section {
        padding: 6rem 5% 2rem;
    }

    body,
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        padding: 1.5rem 5%;
    }

    .logo {
        font-size: 2rem;
        width: 180px;
    }

    h2 {
        font-size: 3.5rem;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    section {
        padding: 6rem 5% 2rem;
    }

    body,
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }
}
